<a th:href="@{/admin/category/add}">Add Category</a>
<table border="1" width="100%">
    <tr>
        <th>STT</th>
        <th>Images</th>
        <th>CategoryID</th>
        <th>CategoryName</th>
    </tr>

    <tr th:each="cate, stat : ${categories}">
        <td th:text="${stat.index + 1}"></td>

        <td>
            <img height="150" width="200"
                 th:src="${#strings.substring(cate.icon, 0, 5) == 'https' ? cate.icon : '/image?fname=' + cate.icon}" />
        </td>

        <td th:text="${cate.categoryId}"></td>
        <td th:text="${cate.categoryName}"></td>

        <td>
            <a th:href="@{/admin/category/edit/{id}(id=${cate.categoryId})}">Sửa</a> |
            <a th:href="@{/admin/category/delete/{id}(id=${cate.categoryId})}">Xóa</a> |
        </td>
    </tr>
</table>